.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  position: relative;
}

.wrapper--login {
  /* background-color: #f0f8ff; */
  background-color: mintcream;
}

.wrapper--register {
  /* background-color: #fffaf0;  */
    background-color: mintcream;

}

.wrapper--dashboard, .wrapper--profile, .wrapper--settings {
  width: 100%;
  background-color: mintcream;
  align-items: unset;
  /* background-color: black; */
}